html {
    font-family: Helvetica Neue, Helvetica, Open Sans Pro, sans-serif;
}

.intro {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: auto;
    margin-top: 3em;
}

.filter {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: auto;

}

h1 {
    font-size: 2.5rem;
    color: #AD50E7;
    margin-bottom: 0.5em;
}

.intro p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.3;
    color: #acacac;
}

.filter {
    margin-top: 1rem;
}



.bttn {
    border: 1.5px solid #d1d1d1;
    border-radius: 3px;
    padding: 8px 19px;
    font-weight: 650;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: white;
    transition-property: color;
}

.bttn.active {
    background-color: #AD50E7;
    color: white;
    border: 1.5px solid #AD50E7;
}

.bttn:active {
    background-color: #AD50E7;
    color: white;
    border: 1.5px solid #AD50E7;
}

hr {
    border: 0;
    clear: both;
    display: block;
    margin-top: 20px;
    width: 100%;
    background-color: #93939333;
    height: 2px;
}

img {
    width: 100%;
    overflow: hidden;
}

/* card styling */

.row {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    padding-top: 20px;
}

.show {
    display: block;
}


.card {
    height: fit-content;
    width: 90vw;
    border: 2px solid #d7d7d7;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.card-details {
    border: none;
    display: flex;
    flex-direction: column;
    max-width: 87%;
    margin: auto;
    margin-top: 19px;
    margin-bottom: 20px;
}

.card-details .title {
    margin: 0;
    font-size: 20px;
}

.card-details .description {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 450;
    color: #777777;
}

.card-details .intern {
    display: flex;
    max-height: 50px;
    justify-content: flex-start;
    margin: 0;
}

.card-details .intern p {
    font-size: 14px;
    font-weight: 500;
    color: #777777;
}

.card-details .intern  img {
    max-height: 40px;
    object-fit: contain;
    width: auto;
    margin: auto;
    margin-left: 0;
}


.tags {
    display: flexwrap;
    font-size: 13px;
    font-weight: 550;
    color: #d1d1d1;
}

.card img {
    height: 272px;
    object-fit: cover;
}

.card .gami {
    object-position: 80% 50%;
}

.card .Ameebo {
    object-position: 95% 50%;
}


#card div.item.hidden {
    transition: all 0.3s linear;
}




/* card styling end */



/* resume styling */

.content {
    max-width: 90vw;
    margin: auto;
    margin-top: 1rem;
}


.content h2 {
    color: black;
    text-decoration: underline;
    -webkit-text-decoration-color: #AD50E7;
    text-decoration-color: #AD50E7;
}

#card {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.139);
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 2rem;
}

#card a {
    color: black;
    text-decoration: underline;
    -webkit-text-decoration-color: #AD50E7;
    text-decoration-color: #AD50E7;
}

.step2 {
    font-size: 17px;
    font-weight: 450;
}

.special {
    margin-bottom: 0;
}

.list {
    display: flex;
    flex-direction: column;
}

#item {
    margin-top: 4rem;
}

#item2 {
    margin-top: 3rem;
}

.category {
    font-size: 18px;
}

#skill {
    margin: 2.5rem 0rem;
}

#skill .things {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: #777777;
}

.card2 {
    display: flex;
    justify-content: space-between;
}

.subtle {
    color: #d1d1d1;
}

.card2 h3{
    margin-bottom: 0;
}

.ap {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}

.intro p {
    margin-bottom: .5rem;
    font-weight: 500;
}

.intro {
    justify-content: center;
}



/* resume styling end */





/* about styling */


.stuff {
    max-width: 90vw;
    margin: auto;
    margin-top: 5rem;
}

.me img {
    border-radius: 10px;
    max-width: 90vw;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}

.metext h2 {
    margin: 0;
    color: #AD50E7;
}

.contact h2 {
    margin: 0;
    color: #AD50E7;
}

.contact2 h2 {
    margin: 0;
    color: #AD50E7;
}

.contact2 {
    margin-top: 3rem;
}

.contact2 a {
    font-size: 1.5rem;
    text-decoration: underline #AD50E7;
    color: black;
}

.aboutme p {
    font-weight: 400;
    font-size: 1.3rem;
}




.metext p {
    margin: 0;
    margin-top: 0.4rem;
    font-weight: 500;
    color: #acacac;
}

.contact {
    display: none;
}

.high {
    margin-top: 1rem;
}

.low {
    border-left: 0.15rem solid #acacac;
    padding-left: 1rem;
    font-size: 14px;
}









@media screen and (min-width: 800px) {
    
    .intro {
        margin-top: 0%;
    }

    .filter {
        margin-top: 1rem;
        margin-bottom: 20px;
    }

    .intro p {
        font-size: 1.2rem;
    }

    .bttn:hover {
        background-color: #ad50e72e;
    }


    /* card styling */

    .row {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        max-width: 860px;
        padding: 0%;
    }

    .card {
        height: 328px;
        width: 860px;
        border: 2px solid #d7d7d7;
        border-radius: 10px;
        margin: 0%;
        display: flex;
        margin-bottom: 20px;
        box-sizing: border-box;
        overflow: hidden;
        justify-content: space-between;
    }

    .card-details {
        border: none;
        display: flex;
        flex-direction: column;
        width: 280px;
        margin-left: 30px;
        margin-right: 26px;
        margin-top: 25px;
    }

    .card-details .title {
        margin: 0;
        font-size: 24px;
        transition: transform .2s;
    }

    .card-details .description {
        margin-bottom: 14px;
        font-size: 16px;
        font-weight: 450;
        line-height: 1.2;
    }

    .card-details .intern {
        display: flex;
        max-height: 50px;
        margin-top: auto;
        justify-content: flex-start;
    }

    .card-details .intern p {
        font-size: 15px;
        font-weight: 500;
        color: #777777;
    }

    .card-details .intern  img {
        max-height: 40px;
        object-fit: contain;
        width: auto;
    }

    .tags {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 550;
        color: #d6d6d6;
        line-height: 1.5;
    }

    .card .img-container {
        display: inline-block;
        overflow: hidden;
        max-width: 530px;
        height: 100%;
        width: 100%;
    }

    .card .habitate-container {
        display: block;
        overflow: hidden;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .card .img-container img {
        object-fit: cover;
        height: 100%;
        max-width: 530px;
        transition: transform .4s;
    }

    .card .gami {
        object-position: 90% 50%;
    }

    .card:hover .img-container img {
        transform: scale(1.05);
    }

    .card:hover .title {
        color: #AD50E7;
        text-decoration: underline;
    }




    /* card styling end */



    /* resume styling  */

    #item {
        margin-top: 5rem;
    }

    /* resume styling end */






    /* about me styling */

    .stuff {
        display: flex;
        margin-top: 4rem;
    }

    .contact {
        display: contents;
    }

    .contact a {
        text-decoration: underline #AD50E7;
        color: black;
    }

    .contact2 {
        display: none;
    }

    .me {
        padding-right: 3rem;
    }

    .me img {
        border-radius: 10px;
        min-width: 20rem;
    }

    .aboutme p {
        font-size: 1rem;
    }





}

