
body {
    font-family: 'Roboto Mono', monospace;
    max-width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    font-size: 48px;
    margin-top: 0;
}

p, .text  {
    font-size: 36px;
    color: #979797;
    margin: 0;
}

.small-link {
    font-size: 24px;
    color: #D5D5D5;
    padding-right: 2rem;
    margin: 0;
}

.links {
    display: flex;
    margin-top: 2rem;
}

.big-link {
    color: #979797;
}

a {
    transition-property: color;
    transition: .1s ease-in-out;
}

a:hover {
    color: rgb(232, 55, 232);
}


@media only screen and (max-width: 768px) {

    body {
        transform: unset;
        top: unset;
        left: unset;
        position: unset;

        max-width: 85vw;
        margin: auto;
        transform: translateY(50%);
    }
   
    h1 {
        font-size: 26px;
        margin-top: 0;
    }
    
    p, .text  {
        font-size: 24px;
        color: #979797;
        margin: 0;
        padding-top: 1rem;
    }
    
    .small-link {
        font-size: 24px;
        color: #D5D5D5;
    }
    
    .links {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

  }